<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer: {{name}}</title>
</head>

<body>
    <strong>Id:</strong> {{id}} <br>
    <strong>Name:</strong> {{name}} <br>
    <strong>CPF:</strong> {{cpf}} <br>
    <strong>E-mail:</strong> {{email}} <br>
    <strong>Telefone:</strong> {{phone}} <br>
    <strong>Habilitação:</strong> {{licenseCategory}} <br>
  <br>
</body>

</html>