<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle: {{name}}</title>
</head>

<body>
    <strong>Placa:</strong> {{plate}} <br>
    <strong>Fabricante:</strong> {{manufacturer}} <br>
    <strong>Modelo:</strong> {{model}} <br>
    <strong>Ano:</strong> {{year}} <br>
    <strong>Quilometragem:</strong> {{kilometers}} <br>
    <strong>Categoria:</strong> {{category}} <br>
    <strong>Valor por Hora:</strong> {{hourlyRate}} <br>
    <strong>Disponibilidade:</strong> {{isAvailable}} <br>
  <br>
</body>

</html>